.menu {
  box-sizing: border-box;
  background-color: #202020;
  display: none;
  width: 520px;
  height: 100vh;
  position: fixed;
  top: 0;
  right: 0;
  padding: 0 90px 0;
}

.menu_opened {
  display: block;
}

.menu__container {
  display: flex;
  flex-direction: column;
  gap: 621px;
  align-items: center;
  padding: 159px 0 90px;
  min-height: 1024px;
}

.menu__links {
  display: flex;
  flex-direction: column;
  gap: 28px;
  list-style: none;
  text-align: center;
  padding: 0;
  margin: 0;
  font-size: 18px;
  font-weight: 500;
  line-height: 1.2;
}

.menu__link {
  color: #fff;
  text-decoration: none;
}

.menu__link:hover {
  opacity: 0.7;
}

.menu__link_active {
  border-bottom: 2px solid #fff;
}

.menu__button {
  background-image: url(../../images/close-button.svg);
  background-size: auto;
  background-position: center;
  background-color: transparent;
  border: none;
  width: 22px;
  height: 22px;
  cursor: pointer;
  padding: 0;
  position: absolute;
  top: 27px;
  right: 27px;
}

.menu__button:hover {
  opacity: 0.8;
}

.menu__account-link {
  display: flex;
  justify-content: center;
  gap: 7px;
  text-decoration: none;
  color: #fff;
  font-size: 13px;
  font-weight: 500;
  line-height: 0.9;
}

.menu__link-logo {
  width: 26px;
  height: 26px;
  border-radius: 50px;
  align-self: center;
  background-image: url(../../images/account.svg);
  background-position: center;
  background-size:auto;
  background-repeat: no-repeat;
  background-color: #313131;
}

.menu__account-link:hover {
  opacity: 0.8;
}

@media (max-width: 480px) {
  .menu {
    padding: 0 10px 46px;
    width: 100%;
  }
  .menu__container {
    padding: 144px 0 46px;
    gap: 444px;
  }
  .menu__links {
    gap: 24px;
  }
  .menu__button {
    top: 18px;
    right: 18px;
  }
}