.form {
  width: 396px;
  margin: 70px auto;
  box-sizing: border-box;
  padding: 0;
  display: flex;
  flex-direction: column;
}

.form__link:hover {
  opacity: 0.7;
}

.form__inputs-list {
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
}

.form__label {
  color: #8B8B8B;
  font-size: 10px;
  font-weight: 400;
  line-height: 1.2;
  padding: 0;
  margin: 0;
}

.form__input {
  box-sizing: border-box;
  width: 100%;
  border-radius: 8px;
  background-color: #2F2F2F;
  border: none;
  color: #FFF;
  font-size: 13px;
  font-weight: 400;
  line-height: 1.2;
  margin-top: 10px;
  margin-bottom: 8px;
  height: 46px;
  padding: 0 15px 0;
}

.form__input:focus {
  outline: 1px solid #2BE080;
}

/* .form__input:last-of-type {
  margin-bottom: 10px;
} */

.form__input_type_email {
  font-weight: 500;
}

.form__input_type_error {
  color: #EE3465;
}

.form__error {
  height: 12px;
  padding: 0;
  width: 100%;
  color: #EE3465;
  font-size: 10px;
  font-weight: 400;
  line-height: 1.2;
  display: block;
}

.form__error:last-of-type {
  margin-bottom: 124px;
}

.form__error_place_register:last-of-type {
  margin-bottom: 36px;
}



.form__save-button {
  width: 100%;
  height: 45px;
  padding: 0;
  border-radius: 3px;
  border: 0;
  background-color: #4285F4;
  color: #FFF;
  text-align: center;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.2;
  margin-bottom: 16px;
}

.form__save-button:disabled {
  background-color: #F8F8F8;
  color: #C2C2C2;
}

.form__save-button:hover {
  opacity: 0.8;
}

.form__logo {
  width: 38px;
  height: 38px;
  margin: 0 0 40px;
}

@media (max-width: 768px) {
  .form {
    margin: 232px auto;
  }
  /* .form__error_place_register:last-of-type {
    margin-bottom: 58px;
  } */
}

@media (max-width: 520px) {
  .form {
    margin: 56px auto 30px;
    width: 320px;
  }
}

@media (max-width: 360px) {
  .form {
    width: 260px;
    display: flex;
    flex-direction: column;
  }

  .form__logo {
    margin: 0 auto 50px;
  }

  .form__error:last-of-type {
    margin-bottom: 212px;
  }

  .form__error_place_register:last-of-type {
    margin-bottom: 124px;
  }

  .form__save-button {
    margin-bottom: 14px;
    font-size: 12px;
  }
}