.footer {
  background-color: #202020;
}

.footer__heading {
  margin: 0;
  padding: 79px 0 20px;
  color: #8B8B8B;
  text-align: center;
  font-size: 13px;
  font-weight: 400;
  line-height: 1.2;
  border-bottom: 1px solid #424242;
}

.footer__content {
  padding: 20px 0;
  display: flex;
  justify-content: space-between;
}

.footer__content-item {
  padding: 0;
  margin: 0;
  font-size: 13px;
  font-weight: 400;
  line-height: 1.2;
  text-decoration: none;
  color: #FFF;
}

.footer__content-item:hover {
  opacity: 0.7;
}

.footer__platforms {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  text-align: right;
  color: #FFF;
}

.footer__copyright {
  color: #FFF;
}

@media (max-width: 550px) {
  .footer__heading {
    padding-bottom: 21px;
    font-size: 12px;
  }
  
  .footer__platforms {
    flex-direction: column;
    gap: 12px
  }

  .footer__content {
    flex-direction: column-reverse;
    padding-top: 30px;
    gap: 30px;
  }

  .footer__content-item {
    font-size: 12px;
    text-align: center;
  }

  .footer__copyright {
    color: #8B8B8B;
  }
}